<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <style type="text/css">
                /** Twitter Typeahead **/
                .twitter-typeahead, .typeahead, .empty-message  {
                    width: 100%;
                }
                .tt-menu {
                    background: white;
                    width: 100%;
                }
                .tt-suggestion {
                    overflow: hidden;
                    display: table;
                    width: 100%;
                    padding: 10px 10px;
                    border-bottom: 1px solid #e9ecf2;
                }
                /** Movie Card (Movie Suggestions) **/
                .movie-card {
                    position: relative;
                    padding: 8px;
                }
                .movie-card-poster {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 52px;
                    height: 52px;
                    border: 2px solid #ccd6dd;
                    border-radius: 5px;
                }
                .movie-card:hover .movie-card-poster {
                    border-color: #f5f8fa;
                }
                .movie-card-details {
                    min-height: 60px;
                    padding-left: 60px;
                }
                .movie-card-name,
                .movie-card-year {
                    display: inline-block;
                }
                .movie-card-name {
                    font-weight: 700;
                }
                .movie-card-year {
                    color: #8899a6;
                }
                .movie-card:hover .movie-card-year {
                    color: #fff;
                }
                .movie-card-plot {
                    margin-top: 5px;
                    font-size: 14px;
                    line-height: 18px;
                }
                .movie-card:hover,
                .movie-card.is-active {
                    color: #fff;
                    background: #0088CC;
                    cursor: pointer;
                }
                .empty-message {
                    position: relative;
                    padding: 10px;
                    font-size: 16px;
                    line-height: 30px;
                    text-align: center;
                }
        </style>
        <div class="container">
            {{ 
                render(
                    controller('App\\Controller\\HomeController::searchBar')
                )
            }}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="bloodhound.jquery.min.js"></script>
        <script type="text/javascript" src="typeahead.jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function ()
            {
                var states = new Bloodhound(
                {
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,

                    remote: {
                        url: "{{ path('handle_search') }}/%QUERY%",
                        wildcard: '%QUERY%',
                        filter: function (states)
                        {
                            return $.map(states, function (state)
                            {
                                return {
                                    state_id: state.id,
                                    state_name: state.name,
                                    state_image: state.image
                                }
                            })
                        }
                    }
                })

                states.initialize();

                $('#form_query').typeahead(
                {
                    hint: true
                },
                {
                    name: 'states',
                    source: states.ttAdapter(),
                    display: 'state_name',
                    templates: {
                        suggestion: function (data)
                        {
                            return `
                                <a href='{{ path('city_page') }}/`+data.state_id+`'>
                                    <img src=`+data.state_image+`/>
                                    <strong>`+data.state_id+`</strong>  
                                    <span>`+data.state_name+`</span>
                                </div>
                            `
                        },
                        footer: function (query)
                        {
                            return '<div class="text-center">More results about: '+ query.query +'</div>'
                        }
                    }
                })

            })
        </script>
</html>